<table class="table table-bordered">
    <tr>
        <th style="text-align:center; width:35%"><img src='https://scis.smu.edu.sg/sites/all/themes/smubase_nw2_rev/svg/logo-d-smu.svg' style="width: 300px; height: 90px; "></th>
        <th style="text-align:center;"><h3>IS111 - Notebook 5</h3><h2>More on Conditional Statements</h2></th>
    </tr>
</table>

## Learning Outcomes

At the end of this lesson, you should be able to:
<ul>
<li> Understand and apply nested if/else statements to solve problems.</li>
<li> Understand and apply logical operators to solve problems.</li>
</ul>


In this notebook, we will discuss some more complex conditional statements.

## I. Nested if-else Statements

It is possible to place one if or if-else statement inside another if or if-else statement. These are called nested if-else statements.

Recall the following code from the earlier notebook on conditions:

In [ ]:
def find_grade(score):
    if score >= 90:
        return 'A'
    elif score >= 80:
        return 'B'
    elif score >= 70:
        return 'C'
    else:
        return 'D'

The code above can also be implemented in the following way:

In [ ]:
def find_grade2(score):
    if score >= 90:
        return 'A'
    else:
        if score >= 80:
            return 'B'
        else:
            if score >= 70:
                return 'C'
            else:
                return 'D'
            
print(find_grade2(85))
print(find_grade2(63))

<img align="left" src='https://drive.google.com/uc?export=view&id=0B08uY8vosNfobDBuOXVXQWVxMFE' style="width: 60px; height: 60px;"><br />Let's do an exercise !

Can you complete the code below using nested if-else statement to implement yet another version of the function that behaves in the same way?

In [ ]:
def find_grade3(score):
    if score >= 80:
        # add an if-else statement here to return either 'A' or 'B'

        pass
    else:
        # add another if-else statement here to return either 'C' or 'D'
        
        pass
        
        
print(find_grade3(85))
print(find_grade3(63))

## II. Logical Operators

We sometimes need to check more than one conditions in order to make a decision. Logical operators are designed to help us with this need.

There are three logical operators, `and`, `or` and `not`. These operators are applied to Boolean values. In the table below, we explain these operators and give some examples. Assume that `a` is a variable whose value is `False`, and `b` is another variable whose value is `True`.

<table align="left" class="table table-bordered" style="width:90%">
<tr>
<th style="text-align:center; width:10%">Operator</th>
<th style="text-align:center; width:55%">Description</th>
<th style="text-align:center">Example</th>
</tr>
<tr>
<td style="text-align:center; vertical-align:middle;"><font face="courier new">and</font></td>
<td style="text-align:left">If both operands are true, then the value of the expression is true. Otherwise it is false.</td>
<td><font face="courier new">a and b</font><br/>value: <font face="courier new">False</font></td>
</tr>
<tr>
<td style="text-align:center; vertical-align:middle;"><font face="courier new">or</font></td>
<td style="text-align:left">If at least one of the two operands is true, then the value of the expression is true. Otherwise it is false.</td>
<td><font face="courier new">a or b</font><br/>value: <font face="courier new">True</font></td>
</tr>
<tr>
<td style="text-align:center; vertical-align:middle;"><font face="courier new">not</font></td>
<td style="text-align:left">This operator takes a single operand. If the operand is true, the expression is false. Otherwise the expression is true.</td>
<td><font face="courier new">not a</font><br/>value: <font face="courier new">True</font></td>
</tr>
</table>

Note that these logical operators are used not just to connect variables of bool type but also other Boolean expressions. 

Take a look at the following example code. If the user enters `10` as age and `'M'` as gender, what do you think the output of the code will be? How about `10` as age and `'F'` as gender? Run the code to try it out.

In [ ]:
age = int(input("How old are you? "))
gender = input("What's your gender? (M|F) ")

if age <= 12 and gender == 'M':
    print("Hello boy!")

Think about how you could implement this code without using the logical operator `and`. One way is the following:

In [ ]:
age = int(input("How old are you? "))
gender = input("What's your gender? (M|F) ")

if age <= 12:
    if gender == 'M':
        print("Hello boy!")

Although the code above also works, we can see that using the `and` operator makes the code more compact and easier to understand.

### Precedence Table

With the new operators we have learned, let's look at the following precedence table with more operators. Precedence goes down when we move down the table.

<table align="left" class="table table-bordered">
<tr>
<th style="text-align:center; width:25%">Operator</th>
<th style="text-align:center; width:35%">Description</th>
</tr>
<tr>
<td style="text-align:center; vertical-align:middle;">&#8727;&#8727;</td>
<td>Exponent</td>
</tr>
<tr>
<td style="text-align:center; vertical-align:middle;">&#8727;, /, %, //</td>
<td>Multiplication, division, modulo and floor division</td>
</tr>
<tr>
<td style="text-align:center; vertical-align:middle;">+, -</td>
<td>Addition and subtraction</td>
</tr>
<tr>
<td style="text-align:center; vertical-align:middle;">==, !=, &lt;, &lt;=, >, >=</td>
<td>Relational Operators</td>
</tr>
<tr>
<td style="text-align:center; vertical-align:middle;">not</td>
<td>Boolean NOT</td>
</tr>
<tr>
<td style="text-align:center; vertical-align:middle;">and</td>
<td>Boolean AND</td>
</tr>
<tr>
<td style="text-align:center; vertical-align:middle;">or</td>
<td>Boolean OR</td>
</tr>
</table>

<img align="left" src='https://drive.google.com/uc?export=view&id=0B08uY8vosNfobDBuOXVXQWVxMFE' style="width: 60px; height: 60px;"><br />Let's do an exercise !

Can you figure out the values of the expression below without running the code?

In [ ]:
print(10 > 12 or 10 < 15)
print(not 10 > 12 and 10 < 15 )
print(not (10 != 10 or 15 > 10))

### De Morgan's Law

If we look at the last expression above, we can see that it's quite complicated. We can simplify the expression using <b>De Morgan's Law</b>.

The De Morgan's Law states that
<ul>
<li>not (A and B) is equivalent to (not A or not B)</li>
<li>not (A or B) is equivalent to (not A and not B)</li>
</ul>

For example, compare the following two `print()` statements:

In [ ]:
a = True
b = True

print(not (a and b))
print(not a or not b)

You can modify the values of `a` and `b` above and see whether the two `print()` statements are always the same.

<img align="left" src='https://drive.google.com/uc?export=view&id=0B08uY8vosNfobDBuOXVXQWVxMFE' style="width: 60px; height: 60px;"><br />Let's do an exercise !

Can you simplify the following expression?

In [ ]:
print(not (10 != 10 or 15 > 10))

# Enter your simplified expression below: